@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Libre+Baskerville&family=Young+Serif&display=swap");

:root {
  --pickled-bluewood: #304255;
  --soft-amber: #cbbeaf;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

/* hero */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 55px 0 55px;
  color: var(--pickled-bluewood);
  background-image: url("/image/twilight-2.svg");
  background-repeat: no-repeat;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 40px 0 40px;
}

.title > h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 60px;
  margin: 0;
}

.paimon > img {
  width: 550px;
}

.view {
  background-color: var(--pickled-bluewood);
  color: var(--soft-amber);
  border: none;
  border-radius: 5px;
  padding: 17px 30px 17px 30px;
  cursor: pointer;
  transition: 0.3s;
}

.view:hover {
  color: var(--pickled-bluewood);
  background-color: var(--soft-amber);
  transition: 0.3s;
}

/* navbar */

nav {
  background-color: var(--pickled-bluewood);
}

nav > .navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.navbar > li > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--soft-amber);
  text-decoration: none;
  width: 150px;
  height: 70px;
  transition: 0.3s;
  border-bottom: 0 solid;
}

.navbar > li > a:hover {
  border-bottom: 5px solid var(--soft-amber);
  transition: 0.3s;
}

/* archon element */
