@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Libre+Baskerville&family=Young+Serif&display=swap");
@import url("/style/character/venti.css");
@import url("/style/character/zhongli.css");
@import url("/style/character/raiden.css");
@import url("/style/character/nahida.css");
@import url("/style/hero.css");
@import url("/style/archon-element.css");
@import url("/style/aside.css");
@import url("/style/footer.css");

:root {
  /* pallette paimon */
  --pickled-bluewood: #304255;
  --soft-amber: #cbbeaf;
  /* pallette venti */
  --keppel: #41ae94;
  --downy: #75d1b5;
  --rangitoto: #343327;
  --santa-fe: #bc744c;
  /* pallette raiden */
  --jacarta: #3c3272;
  --cold-purple: #aaa5e2;
  --medium-purple: #8a6fdd;
  /* pallette zhongli */
  --jambalaya: #582712;
  --potters-clay: #885b36;
  --equator: #deae5d;
  /* pallette nahida */
  --stromboli: #2e6049;
  --olivine: #9fc07a;
  --oxley: #6a9f7e;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Libre Baskerville", serif;
}

h2 {
  font-size: 36px;
  color: var(--pickled-bluewood);
}

h3 {
  font-size: 30px;
  color: var(--pickled-bluewood);
}

p {
  font-size: 17.5px;
  color: var(--pickled-bluewood);
}

/* Scrollbar */

::-webkit-scrollbar {
  background-color: lightgrey;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--pickled-bluewood);
}

/* navbar */

nav {
  position: sticky;
  top: 0;
  padding: 0;
  z-index: 9;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  background-color: var(--pickled-bluewood);
  transition: 0.3s;
}

.add-shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.65);
}

.navbar-responsive {
  display: none;
}

.navbar > li > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--soft-amber);
  text-decoration: none;
  width: 150px;
  height: 70px;
  transition: 0.3s;
  border-bottom: 0 solid;
}

.scrolled {
  height: 50px !important;
}

.navbar > li > a:hover {
  border-bottom: 5px solid var(--soft-amber);
  transition: 0.3s;
}

/* responsive */

@media screen and (max-width: 1280px) {
  .aside {
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  p {
    font-size: 17.5px;
  }

  /* hero */
  header {
    flex-direction: column-reverse;
    padding: 20px 20px 20px 20px;
    background-attachment: fixed;
  }

  .title {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .title > h1 {
    font-size: 36px;
  }

  .paimon > img {
    width: 500px;
    object-fit: fill;
  }

  /* navbar */

  .navbar {
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    position: absolute;
    right: 0;
    transform: translateY(-100%);
    z-index: -1;
  }

  .add-shadow {
    box-shadow: 0px 0px;
  }

  .active {
    transform: translateY(0);
    transition: 0.4s;
  }

  .navbar-responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    background-color: var(--pickled-bluewood);
    transition: 0.3s;
  }

  .navbar-responsive li p {
    color: var(--soft-amber);
    width: 150px;
    text-align: center;
  }

  .navbar-responsive li button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--soft-amber);
    text-decoration: none;
    width: 150px;
    height: 70px;
    border: none;
    background: none;
    border-bottom: 0 solid;
    font-size: 30px;
    transition: 0.3s;
  }

  /* archon element */

  .archon-element {
    padding-left: 30px;
    padding-right: 30px;
  }

  .element > img {
    width: 100px;
    height: 100px;
  }

  .ideal {
    font-size: 15.5px;
  }

  .all-element {
    gap: 25px 25px;
  }

  /* venti */

  .venti {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    gap: 60px;
  }

  .figure-venti,
  .details-venti {
    width: auto;
  }

  .venti-name > h3 {
    font-size: 40px;
  }

  .venti-title > p {
    font-size: 20px;
  }

  .venti-ideal {
    font-size: 32px;
  }

  .image-character img {
    width: 100%;
  }

  .video > iframe {
    height: 360px;
  }

  /* zhongli */

  .zhongli {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    gap: 60px;
  }

  .figure-zhongli,
  .details-zhongli {
    width: auto;
  }

  .known-zhongli {
    align-items: flex-end;
  }

  .zhongli-name > h3 {
    font-size: 40px;
  }

  .zhongli-title > p {
    font-size: 20px;
  }

  .zhongli-ideal {
    font-size: 32px;
  }

  .image-character img {
    width: 100%;
  }

  .video > iframe {
    height: 360px;
  }

  /* raiden */

  .raiden {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    gap: 60px;
  }

  .figure-raiden,
  .details-raiden {
    width: auto;
  }

  .raiden-name > h3 {
    font-size: 40px;
  }

  .raiden-title > p {
    font-size: 20px;
  }

  .raiden-ideal {
    font-size: 32px;
  }

  .image-character img {
    width: 100%;
  }

  .video > iframe {
    height: 360px;
  }

  /* nahida */

  .nahida {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    gap: 60px;
  }

  .desc-nahida {
    align-items: flex-start;
  }

  .figure-nahida,
  .details-nahida {
    width: auto;
  }

  .details-nahida {
    text-align: start;
  }

  .nahida-name > h3 {
    font-size: 40px;
  }

  .nahida-title > p {
    font-size: 20px;
  }

  .nahida-ideal {
    font-size: 32px;
  }

  .image-character img {
    width: 100%;
  }

  .video > iframe {
    height: 360px;
  }

  /* aside */

  .aside {
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .table {
    flex-direction: column;
    align-items: center;
  }

  .table-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 50%;
  }

  .table-desc div {
    text-align: end;
  }

  /* Footer */

  footer {
    padding-left: 30px;
    padding-right: 30px;
  }

  .about {
    gap: 30px;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 16.5px;
  }

  /* hero */

  header {
    flex-direction: column-reverse;
    padding: 15px 15px 15px 15px;
    background-attachment: fixed;
  }

  .title {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .title > h1 {
    font-size: 36px;
  }

  .paimon > img {
    height: 40vh;
    width: 100%;
    object-fit: cover;
  }

  /* navbar */

  .navbar-responsive li button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--soft-amber);
    text-decoration: none;
    width: 100px;
    height: 70px;
    border: none;
    background: none;
    border-bottom: 0 solid;
    font-size: 30px;
    transition: 0.2s;
  }

  /* archon element */

  .archon-element {
    padding-left: 10px;
    padding-right: 10px;
  }

  .element > img {
    width: 80px;
    height: 80px;
  }

  .ideal {
    font-size: 15.5px;
  }

  .all-element {
    gap: 25px 25px;
  }

  /* venti */

  .venti {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    gap: 60px;
  }

  .video > iframe {
    height: 230px;
  }

  /* zhongli */

  .zhongli {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    gap: 60px;
  }

  .video > iframe {
    height: 230px;
  }

  /* raiden */

  .raiden {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    gap: 60px;
  }

  .video > iframe {
    height: 230px;
  }

  /* nahida */

  .nahida {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    gap: 60px;
  }

  .video > iframe {
    height: 230px;
  }

  /* aside */

  .aside {
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }

  .table {
    flex-direction: column;
  }

  .table-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
    width: 100%;
  }

  .table-desc div {
    text-align: end;
  }

  .figure-genshin img {
    width: 100%;
  }

  /* Footer */
  footer {
    padding-left: 30px;
    padding-right: 30px;
  }

  .about {
    gap: 30px;
    flex-direction: column;
  }
}
